/* Общие стили для body */
body {
    font-family: "Oswald", serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Вертикальное выравнивание */
    text-align: center; /* Центрируем текст в теле */
}

/* Заголовок CertiCraft */
.brand-name {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #615F5F ; 
    text-align: center; 
    margin-top: 0;
}

/* Контейнер для формы */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Центрируем блок */
    flex-grow: 1; /* Растягиваем контейнер по вертикали */
}

/* Блок с входом и регистрацией */
.login-box {
    background-color: white;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

/* Заголовок в блоке */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Кнопки социальных сетей */
.social-buttons button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.google {
    background-color: white;
    color: gray;
    border: 1px solid #CCCCCC !important;
}

.vk {
    background-color: white;
    color: gray;
    border: 1px solid #CCCCCC !important;
}

.yandex {
    background-color: white;
    color: gray;
    border: 1px solid #CCCCCC !important;
}

.mailru {
    background-color: white;
    color: gray;
    border: 1px solid #CCCCCC !important;
}

/* Текст под кнопками */
p {
    font-size: 14px;
    margin: 15px 0;
}

/* Поле ввода email */
.email-input {
    width: 278px !important;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

/* Кнопка "Далее" */
.next-button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8A56E3;
    color: white;
    font-size: 16px;
}
